<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Bonus Point: Vendor App</title>
</head>

<body>
<!--
  The nav bar that will be updated as we navigate between views.
-->
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <div ng-if="!_.isEmpty(Meteor.user())">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="Meteor.logout()">
			Logout
		</button>
	</ion-nav-buttons>
  </div>
</ion-nav-bar>
<!--
  The views will be rendered in the <ion-nav-view> directive below
-->
<ion-nav-view></ion-nav-view>

</body>