html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;    
}

/*.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/

.custom-select {
	direction: ltr;
	max-width: 100%;
	/*align: left;*/
}

.item-select select
{
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
}


/* image size */
.qr-code {
	max-width: 256px;
	max-height: 256px;
}
/* image size */


/* horizontally center div */
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/* horizontally center div */


/* vertically center div */
.scroll { 
    height: 100%; 
}
.full-height {
   height: 100%;
}
/* vertically center div */


/* control ionicon size */
.icon-large {
    font-size: 90px;
}
.icon-info {
    font-size: 30px;
}
/* control ionicon size */

/* disabled card icon classes */
.card-disabled {
    box-shadow: none;    
}
.card-disabled .item{
    background: #B2B2B2;
    color: #ddd;
}

/* File upload styles */
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 230px;
    height: 120px;
    text-align: center;
    padding-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}
 
.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}
/* File upload styles */

.fileupload {
  display:none;  
}

.profile-popover .popover {
    min-height: 30px;
    max-height: 133px;
}

/* Card Editor Styles */
.no-border .item {
    border: none;
}
.grid-border {
    border: 1px solid #ddd;
}
.text-muted {
    opacity: 0.5;
}
.text-smaller {
    font-size: smaller
}
.text-ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;     
}

.editor-wrapper {
    /*overflow:hidden;*/
    width: 100%;
    height: 100%;
}
.editor-left-sidebar {
  display: block;
  position: relative;
  height: 100%;
}
.editor-right-sidebar {
  display: block;
  position: relative;
  height: 100%;
}
.editor-body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.editor-canvas {
  display: block;
  position: relative;
  width: auto;
}
.editor-element {
  display: block;
  position: relative;
  width: auto;
  height: 25%;
}

.container0 {
  width: 100%;
  height: 20vh;
}
.container1 {
  width:100%;
  height: 76vh;
  /*height: auto;*/
  overflow: hidden;
}
.container2 {
  height: 60vh;
  /*height: auto;*/
  width: 100%;
  overflow-y: scroll;      
}

.text-small {
  font-size: small;
}

.colorpicker {
  display: inline;
  width: 33px;
}
.colorpicker .input {
  display: inline;
  width: 33px;
}

.no-padding .row {
  padding: 0px;
}
.no-padding .col {
  padding: 0px;
}

.cardModel {
  /*height: 60vw;*/
  width: 100%;
  background:gold;  
  border:1px;
  border-color:gray;
  border-style:solid;
  border-radius:20px;
  box-shadow:5px 5px 3px #888888;
  margin: 10px auto;
}

#styled-select select {
  background: transparent;
  width: 50px;
  padding: 5px;
  font-size: small;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border: none;
  text-indent: 0.01px;
  text-overflow: '';
}

#editArea {
  position: inherit;
  width: 100%;
  height: 100%;
  /*border: 1px solid cyan;*/
}

.card-editor-element {
  width:50px;
  height:50px;
  background-color: lightsalmon;
  color:black;
  padding:10px 12px;
  cursor:move;
  border: 1px solid indianred;
  position: absolute;  /* important (all position that's not `static`) */
  top: 30%;
  left: 30%;
}

.card-editor-test-element {
  width:20%;
  height:20%;
  background-color: deepskyblue;
  color:black;
  padding:10px 12px;
  cursor:move;
  border: 1px solid royalblue;
  position: absolute;  
  top: 40%;
  left: 40%;
}

.sidebar-collapse {
  /*border: 1px royalblue solid;*/
  width:20px;
  text-align: center;
}
.sidebar-button {
  /*background-color: lightblue;*/
  position: relative;
}
.sidebar-button-fill {
  height: 45vh;
}
.bottom-bar-collapse {
  border: transparent;
  height: auto;
}
.bottom-bar-button {
  position: relative;
}