<ion-view view-title="Personal Details">
    <ion-content has-bouncing="true">

    	<!-- App Name -->
    	<div class="row">
			<div class="col">
				<div class="text-center">
					<h4>BonusPoint</h4>
					Gifts and more!
				</div>
			</div>
		</div>

		<!-- Signup Form -->
		<div class="row">
			<div class="col">
				<div>
	
					<!-- <h4> Your Personal Details </h4> -->
					<div class="item item-divider"> 
						Your Personal Details
					</div>

					<div class="list" ng-init="signup.setProfileData(signup.profile)">
						
						<!-- country -->
						<label class="item item-input item-select">
							<div class="input-label">
								Country
							</div>
							<select ng-options="item.name for item in signup.countries track by item.id" ng-model="signup.profile.country"></select>
						</label>
					
						<label class="item item-input">
							<span class="input-label">First Name</span>
							<input type="text" ng-model="signup.profile.firstName" placeholder="First Name">
						</label>
						<label class="item item-input">
							<span class="input-label">Middle Name</span>
							<input type="text" ng-model="signup.profile.middleName" placeholder="Middle Name">
						</label>
						<label class="item item-input">
							<span class="input-label">Last Name</span>
							<input type="text" ng-model="signup.profile.lastName" placeholder="Last Name">
						</label>

						<div class="item item-input">
							<span class="input-label">Gender</span>
							<div class="row">
								<div class="col">
									<ion-radio ng-model="signup.profile.gender" ng-value="'Male'">Male</ion-radio>
								</div>
								<div class="col">
									<ion-radio ng-model="signup.profile.gender" ng-value="'Female'">Female</ion-radio>
								</div>
							</div>
						</div>

						<label class="item item-input">
							<span class="input-label">Salutation</span>
							<input type="text" ng-model="signup.profile.salutation" placeholder="Salutation">
						</label>
						<!-- </ion-list> -->

						<label class="item item-input">
							<span class="input-label">Date of Birth</span>
							<input type="date" ng-model="signup.profile.dateOfBirth" placeholder="Date of Birth">
						</label>

						<label class="item item-input">
							<span class="input-label">Mobile Number</span>
							<input type="tel" ng-model="signup.profile.mobile" placeholder="Mobile Number">
						</label>

						<div class="item item-divider"> 
					        Address
				        </div>
						<label class="item item-input">
							<span class="input-label">Line 1</span>
							<input type="text" ng-model="signup.profile.line1" placeholder="Line 1">
						</label>
						<label class="item item-input">
							<span class="input-label">Line 2</span>
							<input type="text" ng-model="signup.profile.line2" placeholder="Line 2">
						</label>

						<label class="item item-input">
							<span class="input-label">City</span>
							<input type="text" ng-model="signup.profile.city" placeholder="City">
						</label>
						<label class="item item-input">
							<span class="input-label">State</span>
							<input type="text" ng-model="signup.profile.state" placeholder="State">
						</label>
						<label class="item item-input">
							<span class="input-label">Postal Code</span>
							<input type="text" ng-model="signup.profile.postalCode" placeholder="Postal Code">
						</label>

						<div class="item item-divider"> 
					        Identity Proof
				        </div>
						
						<!-- security question -->
						<label class="item item-input item-select">
							<div class="input-label">
								ID Type
							</div>
							<select ng-options="item.name for item in signup.ownerIdTypes track by item.id" ng-model="signup.profile.ownerIdType"></select>
						</label>

						<div class="item item-divider"> 
					        Upload Scanned ID Front
				        </div>
						<label class="item item-input">
							<!-- <span class="input-label">Upload</span> -->
							<input type="file" ng-model="signup.profile.idFront" placeholder="Front">
						</label>
						<div class="item item-divider"> 
					    	Upload Scanned ID Back
				        </div>
						<label class="item item-input">
							<!-- <span class="input-label">Upload</span> -->
							<input type="file" ng-model="signup.profile.idBack" placeholder="Back">
						</label>

					</div>

					<!-- next -->
					<div class="text-right">
						<button ng-click="signup.createProfile()" class="button button-balanced">
							Finish
						</button>
						<!-- <button ui-sref="login" class="button button-balanced">
							Finish
						</button> -->	
					</div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>