<ion-view view-title="Card Models">
    
    <ion-content class="has-subheader" has-bouncing="true">

    	<div class="card">
			<div class="item item-text-wrap">
				This is Card Models view.
			</div>
		</div>	  

		<!-- <div class="cardView">
           <div class="flipper" onclick="this.classList.toggle('flipped')">
               <div class="front">
                    <img ng-src="{{activeCard.image}}" width="100%">
                </div>
                <div class="back">
                        
                </div>
            </div> 
        </div>  --> 

	</ion-content>
</ion-view>