<ion-view view-title="Card Model Editor">

	<ion-nav-bar class="bar bar-header bar-royal">
		<!-- <ion-nav-back-button>
		</ion-nav-back-button> -->
		<ion-nav-buttons>
			<button class="button button-icon icon ion-chevron-left" ng-click="editor.exit()"></button>
		</ion-nav-buttons>	
		<ion-nav-buttons side="secondary">
			<button class="button button-icon icon ion-arrow-expand"></button>
			<button class="button button-icon icon ion-checkmark-circled"></button>
		</ion-nav-buttons>		
	</ion-nav-bar>

	<ion-nav-view name="card-editor"></ion-nav-view>

</ion-view>